@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-display: 'Montserrat', sans-serif;
  --color-primary: #e4f1ff;
  --color-secondary: #b5d8fe;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-secondary);
  color: #333;
}
